mixin radio-with-icon(props)
  label.radio-with-icon&attributes(attributes)
    input.radio-with-icon__input(
      type= 'radio'
      id= props.id
      name= props.name
      value= props.value
      required= props.required
      checked= props.checked
    )
    if props.icon
      +svg(props.icon).radio-with-icon__icon

    if props.text
      span.t2.radio-with-icon__text!= props.text